.title-page {
    font-family: 'Berkshire Swash', cursive;
    font-size: 70px;
    font-weight: lighter;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-nav {
    background-color: #221E21;
}

.nav-item-link {
    color: #433C39;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 28px;
    text-decoration-color: #FF4A07 !important;
}

.nav-item-link:hover {
    text-decoration: underline;
    text-decoration-color: #FF4A07;
}

.active-link {
    text-decoration: underline;
}