<!-- Footer -->
<footer class="page-footer font-small pt-4 background-footer">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase white-text">Julio Cortazar</h5>
                <p class="white-text">Proyecto de la UEA de Discursos Literarios Latinoamericanos Contemporáneos. Universidad Autónoma Metropolitana Unidad Cuajimalpa</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase white-text">Recursos</h5>

                <ul class="list-unstyled white-text">
                    <li>
                        <a class="white-text" href="https://www.march.es/bibliotecas/repositorio-cortazar/?l=2" target="blank"> Biblioteca Julio Cortazar</a>
                    </li>
                    <li>
                        <a class="white-text" href="https://cvc.cervantes.es/literatura/libros_cortazar/default.htm" target="blank">Los Libros de Cortazar</a>
                    </li>
                    <li>
                        <a class="white-text" href="https://es.wikipedia.org/wiki/Julio_Cort%C3%A1zar">Biografía</a>
                    </li>
                    <li>
                        <a class="white-text" href="http://www.cua.uam.mx/">Uam Cuajimalpa</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 white-text">© 2019
        <a href="https://mdbootstrap.com/education/bootstrap/"></a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->